<h3>Pragmatic Order Shipped</h3>
<p>
  This is just to let you know that we've shipped your recent order:
</p>

<p>
  <table>
    <% @order.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.title %></td>
        <td><%= number_to_currency(item.product.price) %></td>
      </tr>
    <% end %>
  </table>     
</p>
