/*
*= require_tree .
*= require_self
*/

body, body > p, body > ol, body > ul, body > td {margin: 8px !important}

#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

#notice:empty {
  display: none;
}

@media all and (max-width: 500px) {
  #banner {
    height: 1em;
  }

  #banner .title {
    display: none;
  }
}

//pagination
.pagination a, .pagination span.current, .pagination span.gap {
    float: left;
    padding: 0 14px;
    line-height: 38px;
    text-decoration: none;
    background-color: white;
    border: 1px solid #DDD;
    border-left-width: 0;
}

  .pagination {
    border-left: 1px solid #ddd;
    .first {
        padding : 0;
        float: none;
        border: none;
    }
    .prev {
        padding : 0;
        float: none;
        border: none;
    }
    .page {
        padding : 0;
        float: none;
        border: none;
    }
    .next {
        padding : 0;
        float: none;
        border: none;
    }
    .last {
        padding : 0;
        float: none;
        border: none;
    }
}


@import "bootstrap-sprockets";
@import "bootstrap";
