// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.carts, #cartModal {
  .item_price, .total_line {
    text-align: right;
  }

  .total_line .total_cell {
    font-weight: bold;
  }

  .cart-buttons {
    margin-right: 3px;
    display: flex;
    justify-content: space-between;
  }

  .cart-buttons div {
    text-align: center;
  }
}
