// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.image_icon {
  width:  50px;
  height: 50px;
}

.images {
  margin: 20px 0 20px 0;
}

.image {
  display: inline-block; 
  margin-left: 10px;
}